@charset "UTF-8";

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	display: flex;
	flex-direction: column;
	gap : 10px;
	width: 700px;
}